.status {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    height: 30px;
}

.status input {
    padding: 5px 10px;
    font-size: 15px;
    height: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.NumericalValue {
    width: 60px;
}

.Percent {
    width: 45px;
}

.Magnification {
    width: 50px
}

.big {
    font-size: 20px;
}
